# 排除所有node_modules目录
node_modules/
# 排除缓存目录
**/.cache/
# 排除IDE配置文件
.idea/
# 排除打包产物
dist/
build/
# 排除日志文件
*.log
# hmdp 排除项
hmdp/node_modules/
hmdp/target/
hmdp/**/application-dev.yml

# train12306 排除项
train12306/node_modules/
train12306/target/
train12306/**/application-dev.yml
